PORT=10000
NODE_ENV=production
MONGO_URI=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
CLIENT_URL=https://property-with-sunny.netlify.app
WHATSAPP_AUTH_PATH=./whatsapp_auth
# Cloudinary (If using for image uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# Email (If using for contact forms)
NODEMAILER_EMAIL=
NODEMAILER_PASSWORD=
# WhatsApp config
WHATSAPP_PHONE=918826943792
