PORT=10000
NODE_ENV=production
MONGO_URI=your_mongodb_uri
JWT_SECRET=your_jwt_secret
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin_password
CLIENT_URL=https://property-with-sunny.netlify.app
WHATSAPP_PHONE=918826943792
WHATSAPP_AUTH_PATH=./whatsapp_auth
